# Project exclude paths
/.gradle/
/build/
/composeApp/build/
/composeApp/build/classes/kotlin/iosArm64/main/klib/
/composeApp/build/classes/kotlin/iosSimulatorArm64/main/klib/
/composeApp/build/classes/kotlin/iosX64/main/klib/
*.iml
.gradle
/local.properties
.idea
.DS_Store
build/
/.fleet
.fleet
/captures
.externalNativeBuild
.cxx
sample/iosApp/Podfile.lock
sample/iosApp/Pods/*
sample/iosApp/iosApp.xcworkspace/*
sample/iosApp/iosApp.xcodeproj/*
!sample/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
.kotlin